<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>
<body>
    <h4>메모</h4>

    - 링크 페이지
    노션 : 정리해서 링크 넣기

db
mongodb://id204:pw204@1.234.5.158:37017/db204

13.209.84.193 


구현에 필요한 기술들
명시할 것

JAVA 
Spring Boot 
Spring Security
JPA 
mybatis
javascript
jQurey
html 
Thymeleaf
CSS
GitHub
Notion
aws
figma

미리 로그인 할 수 있는 아이디를 넣어두기

파이썬
h2디비 연동

회사 질문

서버가 안돌아가면 -> 메이븐에서 라이프사이클-클린 => 라이프사이클-인스톨 -> 다시 서버 돌리기


<form th:action="@{/product/making.do}" method="get" th:object="${psdto}">
    <select th:field="${psdto.selectpside}"> <!-- 필드를 쓰면 선택이 자동으로 됨-->
        <option th:each="tmp : ${psdto.list}" th:value="${tmp.psidename}" th:text="${tmp.psidename}" >종류</option>
    </select>
</form>






<div id="tssize" class="" role="group">
    <c:forEach var="obj" items="${psdto}" >
        <input type="radio" class="" name="tssize" id="btnradio1_${i.index}" autocomplete="off" checked>
        <label class="" for="btnradio1_${i.index}">${obj.tssize}</label>
    </c:forEach>
</div>

















    
</body>
</html>
